* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.3ex;
}

#banner {
    height: 468px;
    background-image: url("./photos/banner-bg.png");
    text-align: center;
}

#banner-text {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 100; 
}

#nav {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    flex-direction: row;
    width: 225px;
    padding-left: 25px;
    justify-content: space-between;
}

#shop {
    font-size: 10px;
}

#our-story {
    font-size: 10px;
}

#impact {
    font-size: 10px;
}

#center-nav {
    display: flex;
    flex-direction: column;
}

#lokai {

}

#right-nav {
    display: flex;
    flex-direction: row;
    width: 225px;
    padding-right: 25px;
    justify-content: space-between;
}

#account {
    font-size: 10px;
}

#cart {
    font-size: 10px;
}

#elements {
    font-size: 10px;
}

#os-button {
    height: 20px;
    width: 200px;
    padding: 5px 20px;
    background-color: black;
    color: white;
}